body {
  background-image: url("images/index/sable-fin_optimized.png");
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  font-family: "Niconne";
  font-size: 3em;
  width: 90%;
  text-align: center;
  margin-top: 30px;
}

header img {
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

nav {
  font-family: "DidoteTextW01-Italic";
  font-weight: bold;
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

nav ul .active {
  background-color: #5e5e63;
  color: white;
}

nav ul a {
  text-decoration: none;
  color: black;
  height: 100%;
  width: 100%;
}

nav ul a :hover {
  color: white;
  background-color: #7979f8;
}

nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 50px;
  background-color: #5e5e63;
  color: white;
}

footer .reservation {
  font-family: "DidoteTextW01-Italic";
  font-weight: bold;
  font-size: 1.5em;
}

main .plage {
  height: 500px;
}

main .vignettes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 50px;
}

main .vignettes h2 {
  font-family: "DidoteTextW01-Italic";
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  padding: 20px;
}

main .vignettes .box {
  width: 25%;
  height: 425px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .vignettes .box img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 40%;
  width: 80%;
}

main .vignettes .box p {
  width: 80%;
  text-align: justify;
  padding: 20px 0;
}

main .vignettes .box button {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.diaporama {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 50px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.diaporama-1 {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  width: 560px;
  height: 420px;
  border: 3px solid #333;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: url(images/mobile-home/1.jpg);
  animation-name: diapo1;
  -webkit-animation: 90s;
          animation: 90s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  -webkit-animation-name: diapo1;
  -webkit-animation-duration: 90s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: diapo1;
  -moz-animation-duration: 90s;
  -moz-animation-timing-function: ease-in;
  -moz-animation-iteration-count: infinite;
}

@-webkit-keyframes diapo1 {
  0% {
    background-image: url(images/mobile-home/1.jpg);
  }
  10% {
    background-image: url(images/mobile-home/2.jpg);
  }
  20% {
    background-image: url(images/mobile-home/3.jpg);
  }
  30% {
    background-image: url(images/mobile-home/4.jpg);
  }
  40% {
    background-image: url(images/mobile-home/5.jpg);
  }
  50% {
    background-image: url(images/mobile-home/6.jpg);
  }
  60% {
    background-image: url(images/mobile-home/7.jpg);
  }
  70% {
    background-image: url(images/mobile-home/8.jpg);
  }
  80% {
    background-image: url(images/mobile-home/9.jpg);
  }
  90% {
    background-image: url(images/mobile-home/10.jpg);
  }
  100% {
    background-image: url(images/mobile-home/11.jpg);
  }
}

@keyframes diapo1 {
  0% {
    background-image: url(images/mobile-home/1.jpg);
  }
  10% {
    background-image: url(images/mobile-home/2.jpg);
  }
  20% {
    background-image: url(images/mobile-home/3.jpg);
  }
  30% {
    background-image: url(images/mobile-home/4.jpg);
  }
  40% {
    background-image: url(images/mobile-home/5.jpg);
  }
  50% {
    background-image: url(images/mobile-home/6.jpg);
  }
  60% {
    background-image: url(images/mobile-home/7.jpg);
  }
  70% {
    background-image: url(images/mobile-home/8.jpg);
  }
  80% {
    background-image: url(images/mobile-home/9.jpg);
  }
  90% {
    background-image: url(images/mobile-home/10.jpg);
  }
  100% {
    background-image: url(images/mobile-home/11.jpg);
  }
}

.diaporama-2 {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 420px;
  height: 560px;
  border: 3px solid #333;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: url(images/mobile-home/12.jpg);
  animation-name: diapo2;
  animation-duration: 90s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: diapo2;
  -webkit-animation-duration: 90s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: diapo2;
  -moz-animation-duration: 90s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
}

@-webkit-keyframes diapo2 {
  0% {
    background-image: url(images/mobile-home/12.jpg);
  }
  12% {
    background-image: url(images/mobile-home/13.jpg);
  }
  24% {
    background-image: url(images/mobile-home/14.jpg);
  }
  36% {
    background-image: url(images/mobile-home/15.jpg);
  }
  48% {
    background-image: url(images/mobile-home/16.jpg);
  }
  60% {
    background-image: url(images/mobile-home/17.jpg);
  }
  72% {
    background-image: url(images/mobile-home/18.jpg);
  }
  85% {
    background-image: url(images/mobile-home/19.jpg);
  }
  100% {
    background-image: url(images/mobile-home/20.jpg);
  }
}

@keyframes diapo2 {
  0% {
    background-image: url(images/mobile-home/12.jpg);
  }
  12% {
    background-image: url(images/mobile-home/13.jpg);
  }
  24% {
    background-image: url(images/mobile-home/14.jpg);
  }
  36% {
    background-image: url(images/mobile-home/15.jpg);
  }
  48% {
    background-image: url(images/mobile-home/16.jpg);
  }
  60% {
    background-image: url(images/mobile-home/17.jpg);
  }
  72% {
    background-image: url(images/mobile-home/18.jpg);
  }
  85% {
    background-image: url(images/mobile-home/19.jpg);
  }
  100% {
    background-image: url(images/mobile-home/20.jpg);
  }
}

.description {
  font-family: "DidoteTextW01-Italic";
  font-size: 1.2em;
  margin: 0 50px 50px 50px;
}

.description h2 {
  font-weight: bold;
}

.description li {
  margin-left: 30px;
  list-style-type: disc;
}

.description .planning {
  margin-top: 50px;
  text-align: center;
  font-size: 1.6em;
}

.description .calendrier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */