header {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-family: "Niconne";
    font-size: 3em;
    width: 90%;
    text-align: center;
    margin-top: 30px;
  }
  img {
    height: 150px;
    object-fit: cover;
  }
}

nav {
  font-family: "DidoteTextW01-Italic";
  font-weight: bold;
  font-size: 1.5em;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 20px;
  ul {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    background-color: white;
    .active {
      background-color: rgb(94, 94, 99);
      color: white;
    }
    a {
      text-decoration: none;
      color: black;
      height: 100%;
      width: 100%;
      :hover {
        color: white;
        background-color: rgb(121, 121, 248);
      }
    }
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border-left: 2px solid black;
      border-right: 2px solid black;
    }
  }
}
